 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(90deg ,#0e3959 0%,#0e3959 30%,#03a9f5 30% ,#03a9f5 100%);
}

/* contact section */
  .contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

/* contact title */
.contactUs .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

/* contact title */
.contactUs .title h2{
    color: white;
    font-weight: 500;
}

/* form info image grid */
.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.image{
    grid-area: image;
}

/* contact area */
.contact{
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.4);
}

/* box position gris and dimensions */
.box
{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info " "form image";
    grid-gap: 20px;
    margin-top: 20px;
    height: 500px;
}

/* contact heading */
.contact h3{
    color: #0e3959;
    font-weight: 500px;
    font-size: 1.4em;
    margin-bottom: 10px;
}  
 



/* ----Form-section ---- */

    .formBox{
    position: relative;
    width: 100%;
}

/* formbox */
.formBox .row50{
    display: flex;
    gap:20px;
}

/* input box */
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 50%;
}

/* fomrbox and input box */
.formBox .row100 .inputBox{
    width: 100%;
}

.inputBox span{
    color: #18b77f;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
}
.inputBox textarea{
    height: 90px;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid black;
    resize: none;
    min-height: 120px;
    margin-bottom: 10px;
}

.inputBox input[type="submit"]{
    background-color: #ff578b;
    color: white;
    border: none;
    font-size: 1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 15px;
}
 
.inputBox ::placeholder{
    color: #999;
}

  /* Information section */  
  .info{  
    background: #0e3959;
    max-height: 250px;
}

.info h3{
    margin-top: -20px;
    color: #fff;
}

.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info .infoBox div span{ 
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #18b77f;
  display: flex;
  justify-content: center;
  align-items: center;
}      

.info .infoBox div span {
    background: none;
    min-width: 40px;
    height: 40px;
    display: flex;
    background-color: #18b7ff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infoBox p{
    color: #fff;
    font-size: .8em;
}

.info .infoBox a{
    color: #fff;
    text-decoration: none;
    font-size: .9em;
}

/* social icons */
.soc{
    margin-top: 3px;
    display: flex;
    margin-left: 10px;
}

.soc li{
    list-style: none;
    margin-right: 15px;
    font-size: 1.8em;
}

/* social icons hover effect */
.soc .fb:hover{
    color: #007dfa;
}
.soc .tw:hover{
    color: #00ffff;
}
.soc .in:hover{
    color: #ff36ab;
}
.soc .ln:hover{
    color: #0466c8;
}
.soc .yt:hover{
    color: #d00000;
}

/* boy image */
.contact .image{
    width: 200px;
    height: 180px;
}
.contact .image img{
    width: 130%;
    height: 120%;
}

/* Responsive Design of the web page */

@media (max-width : 900px) {
  body{
      background-color: #03a9f5;
  }  
  .contactUs{
      padding: 20px;
  }
  .box{
     
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
                          "form"
                          "info"
                          "image";
  }
  .image{
      min-height: 300px;
  } 
  .formBox .row50{
      display: flex;
      gap: 0;
      flex-direction: column;
  }

  .inputBox{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      width: 100%;
  }
  .contact{
      padding: 30px;
  }
}